

html {
  font-size: 16px;
  font-family: 'Raleway', Arial, sans-serif;
  color: rgb(9,29,66);
}
h1 {
  font-size: 3rem;
  font-weight: bold;

}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  padding: 0;
}
h4  {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.5;

}
a {
  text-decoration: none;
  color: rgb(57,106,146);
  font-weight: 600;
}

.banner,
.courses {
  background-color: rgb(236,237,242)
}
/* Header with logo and navigation*/
header {
  display: flex;
  height: 4rem;
  width: 100%;
  justify-content: space-between;

}
.logo  {
  display: flex;
  align-items: center;
  margin-left: 1.5rem
}
.logo img {
  height: 3rem;
}
.colmar {
  font-weight: 600;
}
.academy {
  font-weight: lighter;
}
.nav {
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
  font-size: 2rem;
  margin-right: 2rem;

}
.nav ul li {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.colmar,
.academy {
  font-size: 2rem;
}
@media only screen and (min-width:560px) {
  .mobile-menu {
    display: none;
  }
}

/* nav for mobile devices*/

@media only screen and (max-width: 560px) {
  .nav ul,
  .colmar,
  .academy {
    display: none;
  }
  .mobile-menu {
    display: flex;
    width: 75%;
    justify-content: space-around;
    align-items: center;
  }
  .menu-icon img {
    height: 2.5rem;
    width: auto;
  }
}

/* banner section */
.banner  {

}
.container {
  display:flex;
  flex-direction: row;
  max-width: 100%;
  max-height: auto;
  padding: 2rem 1.5rem;


}
.img-container {
  max-width: 60%;
  max-height: auto;
  margin-right: 1.5rem;
}
.img-container img {
  max-width: 100%;
  max-height: auto;
}
.banner-text-container  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  max-width: 35%;
}
.banner-text-container h1, h3 {
  padding: 1.5rem;
}
.banner-text-container h4 {
  color: white;
}
.banner-button  {
  background-color: rgb(57,106,146);
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
  margin: 1.5rem 0rem;
  transition: background-color 0.25s ease-out 0.1s;
}
.banner-button:hover  {
  background-color: rgb(174,18,21)
}


.banner-button a  {
  text-decoration: none;
}
/* banner section for mobile */

@media only screen and (max-width:560px) {
  .container {
    flex-direction: column;
    margin: 0;
}
  .img-container,
  .banner-text-container {
  max-width: 100%;
  max-height: auto;
  margin: 0;
}
.banner-text-container h1  {
  padding: 0;
  margin: 2rem 1rem;
}
.banner-text-container h3 {
  padding: 0;
  margin: 0 auto 1.5rem 1rem;
}
.banner-button {
  width: 90%;
  margin: 0 1rem 0 2rem;
}
}

/* info section */
.info {
  dipslay: flex;
  flex-direction: column;
}
.left-column {
display: flex;
flex-direction: column;
max-width: 60%;
height: auto;
padding-right: 1.5rem;
}
.left-img-container img,
.video-container video,
.left-text-container {
  max-width: 100%;
  height: auto;
}
.left-text-container h2 {
  padding: 2rem 0 1.5rem 0;
}
#name {
  font-size: 1rem;
  padding: 1.5rem 0 2rem 0;
}
.right-column  {
  display: flex;
  flex-direction: column;
  max-width: 40%
  height: auto;

}
.right-container {
  display: flex;
  max-width: 100%;
  height: auto;
  border-left: 1px solid rgb(57,106,146);
  border-bottom: 1px solid rgb(57,106,146);
  transition: background-color 0.75s linear 0.1s;
}
.right-container:hover  {
    background-color: rgb(236,237,242);
}
.info .container {
  margin-right: 0;
}
.right-img-container {
  width: 35%;
  height: auto;
  padding: 1rem;
}
.right-img-container img {
  max-width: 100%;
}

.right-text-container {
  width: 65%;
  margin: auto 0;
}

.right-text-container h3{
  padding: 0;
}
.right-text-container p {
  padding-top: 0.8rem;
}
@media only screen and (min-width: 560px) {
  .mobile {
      display: none;
    }
}

/*  info section for mobile */

@media only screen and (max-width: 560px) {
  .left-column,
  .desktop  {
    display: none;
  }
  .right-container  {
  flex-direction: column;
  padding: 1rem;
  }
  .right-img-container,
  .right-text-container  {
    width: 100%;
    height: auto;
    padding: 0;
  }
  img.mobile {
    width: 100%;
    height: auto;

  }

}
/* Course section */
.course-content-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 4.5rem;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
}
.course-container {
  max-width: 31%;
  height: auto;
  margin-bottom: 2rem;
  transition: transform 0.3s ease-out 0.1s;
}
.course-container:hover {
  transform: scale(1.05);
}
.course-img-container img{
  max-width: 100%;
  height: auto;
}
.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0 0 0;

}
.course-heading h1 {
  text-align: center;
  padding: 2rem 0;
  text-align: center;
}
.courses .container {
  padding-top: 0;
}
.course-text-container  {
  padding: 1rem 0 0.5rem 1rem;
  background-color: white;
  height: 12rem;
}
.course-text-container h3 {
  padding: 0 0 1rem 0;
  font-weight: bold;
}
.course-text-container h4 {
  padding: 0.5rem 0 1.5rem 0;
}

/* footer */
#footer {
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1rem 2rem 1.5rem;
  background-color: rgb(57,106,146);
  color: white;
  border-top: 1px solid rgb(57,106,146);
  }
#footer a {
  color: white;
  padding: 1rem;
}
